{% extends 'base.html' %}

{% block title %}- List{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            {% for object in object_list %}
                <img src="{{ object.photo.url }}" style="width: 100%;">
                <div class="card-body">
                    <button type="button" class="btn btn-xs btn-info">
                    {{object.author.username}}</button>
                    <p>{{object.text|linebreaksbr}}</p>
                </div>
                    <p class="text-right">
                        <a href="{% url 'photo:photo_detail' pk=object.id %}" class="btn btn-xs btn-success">댓글달기</a>
                    </p>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}


